<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="100" />
		<param name="File" value="/opt/lottery/logs/lottery.log" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MMM-dd HH:mm:ss,SSS} [%t] %c %x%n  %-5p %m%n" />
		</layout>
	</appender>

	<appender name="mailAppender"
		class="com.icsmobile.faadplatfrom.common.GmailSMTPAppender">
		<param name="BufferSize" value="10" />
		<param name="SMTPHost" value="smtp.gmail.com" />
		<param name="SMTPUsername" value="kim2kim@gmail.com" />
		<param name="SMTPPassword" value="" />
		<param name="TLS" value="true" />
		<param name="TimeFrame" value="10" />
		<param name="MaxEMails" value="2" />
		<param name="From" value="kim2kim@gmail.com" />
		<param name="To" value="kim2kim@gmail.com" />
		<param name="Subject" value="[LOG] ..." />
		<param name="threshold" value="error" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- <appender name="syslog" class="org.productivity.java.syslog4j.impl.log4j.Syslog4jAppender"> 
		<param name="ident" value="AppXChangePortal" /> <param name="Facility" value="Local3" 
		/> <param name="SyslogHost" value="localhost" /> <param name="protocol" value="udp" 
		/> <param name="maxMessageLength" value="65507" /> <param name="Threshold" 
		value="WARN" /> <layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" 
		value="%d{MMM dd HH:mm:ss} MYAPP: %-5p %m%n" /> </layout> </appender> -->

	<logger name="java.sql.SQLException">
		<level value="ERROR" />
	</logger>

	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
	<logger name="org.springframework.security">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.apache.velocity">
		<level value="FATAL" />
	</logger>
	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>

	<root>
		<priority value="error"></priority>
		<appender-ref ref="fileAppender" />
		<!--<appender-ref ref="syslog" /> -->
		<!-- appender-ref ref="mailAppender" / <appender-ref ref="consoleAppender" 
			/> -->
	</root>

</log4j:configuration>