Hi,

I'm a software engineer with over 10 years of experience.  I'm looking for side gigs and this sounds like something I can work with.  I live in Los Angeles and do have a full time job however I have a few hours after work and weekends to do project based gigs.  Here is my resume and if you feel it is a fit, we can start right away.  My goal is to find opportunities that can lead to something consistent or interesting.  So regardless of how big or small, if it is something I feel I can tackle, I'd like to take on the work.

I have worked with other business owners on side gigs that are PHP based.  One of which is an eBay integration application.  It is a fully developed application built using CodeIgniter framework using MySql database.  However my strength is in Java and Java technologies.  I am one of the exceptional engineers as I am able to handle both backend and front end work.

This message is an automated tool I developed in Java to search craigslist for side gigs.  Please disregard this message if it does not apply to your job description

Looking forward.

Khim Ung

${link}

${email}